body{
font-family:Arial;
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
text-align:center;
}

.login-container{
margin:100px auto;
padding:30px;
background:white;
color:black;
width:300px;
border-radius:10px;
}

input{
display:block;
margin:10px auto;
padding:10px;
width:90%;
}

button{
padding:10px;
width:100%;
background:#2a5298;
color:white;
border:none;
cursor:pointer;
}

.card{
background:white;
color:black;
margin:20px;
padding:20px;
border-radius:10px;
display:inline-block;
width:200px;
}

table{
margin:auto;
background:white;
color:black;
border-collapse:collapse;
}

td,th{
padding:10px;
border:1px solid black;
}